.container {
  width: 90%;
}

h1 {
	padding: 3%;
	background-color: #bf0000;
	color: white;
	text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
}

h2 {
  clear: both;
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-left: 5%;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

ul {
  display:inline;
  list-style: none;
}

li {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.movie_container img {
  float:left;
  margin-right: 5%;
}

.movie_container {
  margin-top: 4%;
  clear:both;
}


.search {
  margin-right: 20%;
  margin-left: 40%;
}

.search form {
  float:left;
  margin-top: 1%;
}

.search img {
  float:left;
}