<header>
  <h1>WATCHitNEXT</h1>
</header>

<div class="container">
  <div class="search">
    <img src="images/tinysearch.png">
    <form action="/" method="post">
      <input type="text" name="search_term">
    </form>
  </div>

  <h2>Now in theaters:</h2>
  <div class="movies">
    <ol class="ordered"><% @movies.each do |movie| %>
    <div class="movie_container">
      <img src="<%= movie.image %>">
      <li><a href="#"><%= movie.title %></a></li>
        <ul class="unordered">
          <li><%= movie.rating%>%</li>
          <li><%= movie.short_synopsis %></li>
        </ul>
      </div>
      <% end %>
    </ol>
  </div>

</div>