<div class="container">
  <h1>WATCHitNEXT</h1>
  <div class="movies">
  </div>

  <div class="search">
    <form action="/" method="post">
      <input type="text" name="search_term">
    </form>
  </div>

</div>